.app {
    padding-top: 10%;
    height: 90vh;
}

.set-bg{
    background-color: #0083cb;
}

.anim-enter, .anim-appear {
    opacity: 0;
    transform: scale(1.1);
}
.anim-enter-active, .anim-appear-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out 500ms, transform 1000ms;
}
.anim-exit {
    opacity: 1;
    transform: scale(1);
}
.anim-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms, transform 1000ms;
}
